<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TnC</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="terms.css" rel="stylesheet">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,500;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body>
<body>
  <nav>
    <div class="nav-bg"></div>
    <ul>
      <li><a href="/">Home</a></li> 
    </ul>
  </nav>
  <div class="hero">
    <h1>Terms and Conditions</h1>
  </div>
 
  <div class="points">
    <ol>
        <li><strong>Your account-</strong></li>
        <p>If you create an account on the Website, you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account.<br> You agree to provide and maintain accurate, current and complete information, including your contact information for notices and other communications from us and your payment information.</p>
        
        <li><strong>Responsibility of Users of the Website, Products, and Services-</strong></li>
        <p>Your access to, and all of your use of the Website, Products, and/or Services must be lawful and must be in compliance with these Terms, and any other agreement between you and this website.
            When accessing or using the Website, Products, and/or Services, you must behave in a civil and respectful manner at all times. </p> 
        <p>We specifically prohibit any use of the Website, Products, and/or Services, and you agree not to use the Website, for any of the following:</p>
        <ul>
            <li>Engaging in conduct that would constitute a criminal offense, giving rise to civil liability or otherwise violate any city, state, national or international law or regulation that would fail to comply with accepted internet protocol;</li>
            <li> Communicating, transmitting, or posting material that is copyrighted or otherwise owned by a third party unless you are the copyright owner or have the permission of the owner to post it;</li>
            <li>Communicating, transmitting, or posting material that reveals trade secrets, unless you own them or have the permission of the owner;</li>
            <li>Attempting to interfere in any way with the Website, or our networks or network security, or attempting to use our Website to gain unauthorized access to any other computer system;</li>
        </ul>
        <br>

        <li><strong>Payments-</strong></li>
        <p>By purchasing Products and/or Services, you agree to pay Usabilla annual subscription fees indicated for such Product or Service. Payments will be due as of the first day you sign up for a Product and/or Services, and will cover an annual period, as indicated when signing up.<br>Configurations and prices of the Website, Products, and/or Services are subject to change at any time.</p>
        <br>
        <li><strong>Copyright Infringement-</strong></li>
        <p>It requires others to respect its intellectual property rights, so it also respects the intellectual property rights of others. If you believe that material located on or linked to by the Website violates your copyright, you are encouraged to notify us. We will, as it is able, respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. In order to bring infringing material to our attention, you must provide our DMCA Agent with the following information:</p> 
        <ul><li> an electronic or physical signature of the person authorized to act on behalf of the owner of the copyrighted work;</li>
            <li> an identification of the copyrighted work and the location on the Website of the allegedly infringing work;</li> 
            <li> a written statement that you have a good faith belief that the disputed use is not authorized by the owner, its agent or the law;</li>
            <li> your name and contact information, including telephone number and email address;</li> 
            <li> a statement by you that the above information in your notice is accurate and, under penalty of perjury, that you are the copyright owner or authorized to act on the copyright owner’s behalf.</li>
        
        </ul>
        <br>
        <li><strong>A special note about children-</strong></li>
        <p>The Website is not designed or intended for use by children under the age of 16, and our Products and Services may not be purchased by children under the age of 16. We do not intentionally gather personal information from visitors who are under the age of 16. If you are under the age of 16, you are not permitted to submit any personal information to us. If you are under the age of 16, you should use the Website only with consent of a parent or guardian.</p>
    </ol>
    </div>
    <script src="java.js"></script>
</body>


</html>